.body {
    margin: 5px;
    padding: 5px;
}

.scrolling-quotes {
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Light background for contrast */
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px; /* Some padding for comfort */
    border: 1px solid #ddd; /* Border for structure */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
    font-style: italic; /* Italics for quotes */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.swiper {
    width: 100%;
    min-height: 80vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    /*height: 100%; /* Full height of the viewport */
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

.about-card {
    display: flex;
    height: 100%;

    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distribute space between top and bottom */
    


    background-color: #ffffff; /* Card background */
    border: 1px solid #ddd; /* Light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 50px; /* Padding inside the card */
    margin: 20px auto; /* Centered card */
    max-width: 1500px;  /*Max width for the card */
    text-align: center; /* Center text inside the card */
}

.about-section {
    /*display: flex; /* Enable flexbox in this section */
    /*flex-direction: column; /* Stack children vertically */
    /*justify-content: space-between; /* Distribute space */
    flex: 1; /* Allow sections to take up available space */
    margin-bottom: 20px; /* Space between sections */
    margin-right: 40px;
    margin-left: 40px;
}

.about-section .body {
    height: 70vh;
    padding: 20px; /* Space for the body */
}

.about-card img {
    width: 100%; /* Responsive image */
    border-radius: 8px; /* Round image corners */
}

.about-section .top-icon {
    font-size: 40px; /* Adjust icon size */
    color: #282c34; /* Match header color */
    padding-top: 20px;
}

.about-section .bottom-icon {
    font-size: 40px; /* Adjust icon size */
    color: #282c34; /* Match header color */
    padding-top: auto;
    padding-bottom: 20px; /* Add padding at the bottom */
    
}

.about-section h2 {
    text-align: center; /* Center the title */
    color: #007bff; /* Primary color for section headings */
    font-size: 32px; /* Section heading font size */
    margin-bottom: 10px; /* Space below section headings */
}

.about-section p,
.about-section ul {
    
    font-size: 16px; /* Standard text size */
    line-height: 1.6; /* Increased line height for readability */
}

.about-section ul {
    
    list-style-type: disc; /* Default bullet points */
    padding-left: 20px; /* Indent the list */
}

  



  
