.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: #282c34;
  color: white;
}

header h1 {
  font-size: calc(10px + 2vmin); /* Responsive font size */
}

header .footer-text {
  margin-top: 20px; /* Add some space above the footer */
  padding: 10px; /* Add some padding for better spacing */
  text-align: center; /* Center the text */
  font-size: 1em; /* Makes the text smaller */
  color: #666; /* A lighter color for a subtle appearance */
}

/*******************************************************************/
/*               app.js or main dashboard page                     */
/*******************************************************************/

.context-box {
  padding: 15px;
  margin: 20px 0; /* Space above and below */
  border: 1px solid #ccc; /* Light border */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
}

.context-box p {
  max-width: 2000px; /* Adjust the max width as needed */
  margin: 0 auto; /* Center the paragraph */
  padding: 10px; /* Add some padding if needed */
}

.context-box ul {
  list-style-position: inside;
  text-align: center;
}

.context-box li {
  margin-bottom: 5px; /* Space between list items */
  line-height: 1.5; /* Increase line height for readability */
}

.dashboard-container ul {
  list-style-position: inside;
  text-align: center;
}

.dashboard-container li {
  margin-bottom: 5px; /* Space between list items */
  line-height: 1.5; /* Increase line height for readability */
}

.text-section {
  flex-grow: 1;
  padding: 10px; /* Padding for inner spacing */
  margin: 10px auto; /* Reset margin if necessary */
  border: 1px solid #ddd; /* Subtle light border */
  border-radius: 4px; /* Rounded corners */
  background-color: #f8f9fa; /* Light beige or cream */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Soft shadow */
  color: #333; /* Dark gray text for readability */
}

/*******************************************************************/
/*Secton of Dashboard that contains the graphs in a flexbox layout */
/*******************************************************************/

.graph-flexbox {
  display: flex; /* Enable flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping if there's not enough space */
  justify-content: center; /* Center items horizontally */
  margin: 30px;
  padding: 10px; /* Padding inside the wrapper */
  border: 5px solid transparent; /* Add a transparent border */
  border-radius: 10px; /* Rounded corners for a smoother look */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background-image: linear-gradient(#e0e0e0, #ffffff); /* Light gradient for the background */
}

.graph-box {
  display: flex; /* Enable flexbox for contents inside */
  flex-direction: column; /* Arrange children vertically */
  gap: 5px;
  max-height: 875px;
  width: 1250px;
  padding: 5px; /* Keep 5px margin */
  margin: 5px;
  border: 1px solid #dee2e6; /* Light gray border */
  background-color: #ffffff; /* White */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.graph-container {
  display: grid; /* Enable grid layout */
  flex-wrap: wrap;
  flex-grow: 1;
  grid-template-columns: 1fr 300px; /* Default to a single column layout */
  gap: 5px; /* Space between the chart and text section */
  max-height: 1350px; /* Set a maximum height */
  padding: 10px; /* Padding for internal spacing */
}

.chart-container {
  flex-shrink: 1;
  min-width: 700px; /* Set a minimum width */
  max-width: 1700px; /* Set a maximum width */
  max-height: 1350px; /* Set a maximum height */
  padding: 10px; /* Padding for inner spacing */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Slight rounding */
  background-color: #ffffff; /* White */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.chart3-header {
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  width: 100%; /* Full width of the container */
  margin-bottom: 10px; /* Optional: Add spacing below */
  padding: 5px; /* Optional: Add padding */
}

.chart3-header-content {
  width: 80%; /* Width for the header content */
  text-align: center; /* Center text within the header */
}

.chart3-data-box {
  display: flex; /* Enable flexbox for the data box */
  justify-content: center; /* Center the content within the data box */
  align-items: center; /* Center vertically */
  height: 40px; /* Set height */
  min-width: 250px; /* Set a maximum width */
  width: 90%; /* Ensure it takes full width */
  padding: 10px; /* Adjust padding */
  border-radius: 4px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
  font-size: 14px; /* Font size */
}

/***********************************************************************************/
/*this section is for displaying the section with the dropdown lists and csv data. */
/***********************************************************************************/

.dashboard-container {
  display: flex; /* or block, depending on your layout needs */
  flex-direction: column; /* Stack elements vertically */
  padding: 10px; /* Add padding for spacing */
  margin: 20px; /* Add margin to prevent overlap */
}

.dashboard-hub {
  padding: 10px; /* Padding inside the wrapper */
  border: 5px solid transparent; /* Add a transparent border */
  border-radius: 10px; /* Rounded corners for a smoother look */
  background-image: linear-gradient(#e0e0e0, #ffffff); /* Light gradient for the background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.graph-wrapper {
  display: flex; /* Enable flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-around; /* Space between the graphs */
  align-items: flex-start; /* Align items at the start */
}

.donut-chart {
  flex: 0 0 40%; /* Set a fixed basis for the donut chart (60% of the width) */
  max-width: 400px; /* Control the maximum size of the donut chart */
  margin: 10px; /* Add some spacing around the chart */
  padding: 20px; /* Add padding if needed */
}

.bar-chart {
  flex: 0 0 40%; /* Set a fixed basis for the bar chart (35% of the width) */
  min-width: 600px; /* Control the maximum size of the bar chart */
  margin: 10px; /* Add some spacing around the chart */
  padding: 20px; /* Add padding if needed */
}

.dashboard-csv {
  border: 5px solid transparent; /* Add a transparent border */
  border-radius: 10px; /* Rounded corners for a smoother look */
  padding: 10px; /* Padding inside the wrapper */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.filtered-data {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set a maximum height for the div */
  padding: 10px; /* Remove inner padding to allow for fixed header */
  padding-top: 0; /* Adjust padding to match the header height */
  margin: 20px 0; /* Add margin for spacing */
  border: 1px solid #ccc; /* Optional border for visibility */
  border-radius: 5px; /* Rounded corners */
}

.dropdowns {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping if there's not enough space */
  justify-content: space-between; /* Space out dropdowns evenly */
  margin: 20px 0; /* Optional margin for spacing */
}

.dropdowns > div {
  flex: 1; /* Allow dropdowns to grow equally */
  margin-right: 20px; /* Space between each dropdown */
}

.csv-data {
  width: 100%; /* Make the table full width */
  border-collapse: collapse; /* Collapse borders for cleaner look */
  table-layout: fixed; /* Ensure fixed layout for consistent column widths */
}

.csv-data th,
.csv-data td {
  border: 1px solid #ddd; /* Cell borders */
  padding: 12px; /* Increased cell padding for better spacing */
  text-align: left; /* Align text to the left */
  min-width: 100px; /* Set a minimum width for columns */
}

.csv-data th {
  position: sticky; /* Enable sticky positioning */
  top: 0; /* Stick to the top */
  z-index: 10; /* Ensure it appears above other content */
  background-color: #f2f2f2; /* Header background color */
  font-weight: bold; /* Make header text bold */
}

.csv-data tr:hover {
  background-color: #f5f5f5; /* Highlight row on hover */
}

.pagination {
  display: flex; /* Align pagination items in a row */
  justify-content: center; /* Center the pagination controls */
  margin-top: 20px; /* Space above pagination */
}

.pagination button {
  padding: 10px 15px; /* Button padding */
  margin: 0 5px; /* Space between buttons */
  border: none; /* Remove default border */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border-radius: 5px; /* Rounded edges */
}

.pagination button:hover {
  background-color: #0056b3; /* Darker on hover */
}

.loading-overlay {
  position: fixed; /* Fix to viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Lighter semi-transparent background */
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 1000; /* Ensure it sits above other content */
}

.loading-message {
  color: white; /* Text color */
  font-size: 1.5em; /* Adjust font size */
}

@media (max-width: 800px) { /* Adjust this breakpoint as needed */
  .graph-container {
      grid-template-columns: 1fr; /* Switch to a single column layout */
  }
  .text-section {
    width: 95%; /* Make it full width below the graph */
    max-width: 95%; /* Ensure it doesn't exceed the width of its container */
    margin: 5px; /* Reset margin if necessary */
    padding: 10px;
}
  .chart3-data-box {
      margin: 10px 0; /* Add margin to separate it from the title */
      width: 100%; /* Full width in small screens */
      max-width: 300px; /* Remove max-width constraint */
      min-width: 200px;
  }
}

@media (max-width: 768px) {
  .graph-wrapper {
    flex-direction: column; /* Stack graphs in a column */
  }

  .donut-chart,
  .bar-chart {
    width: 100%; /* Full width for each graph */
    max-width: none; /* Remove max-width for responsive design */
  }
}

