.Dashboard-original {
  text-align: center;
  font-family: 'Roboto', sans-serif; /* A clean, modern font */
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.Dashboard {
  text-align: center;
  font-family: 'Roboto', sans-serif; /* A clean, modern font */
  margin: auto;
}

.data-source {
  font-style: italic; /* Keep the elegant style */
  margin-top: 15px; /* Provide spacing from other content */
  margin-bottom: 15px;
  font-size: 16px; /* Slightly larger for emphasis */
  color: #333; /* Darker color for better contrast */
  text-align: center; /* Center the citation text */
}

.loading-overlay {
  position: fixed; /* Fix to viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Lighter semi-transparent background */
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 1000; /* Ensure it sits above other content */
}

.loading-overlay p {
  color: white; /* Text color */
  font-size: 1.5em; /* Adjust font size */
}

/***********************************************************************************/
/*                            main dashboard page                                  */
/***********************************************************************************/

.context-box {
  padding: 15px;
  margin: 20px 0; /* Space above and below */
  border: 1px solid #ccc; /* Light border */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
}

.context-box p {
  max-width: 2000px; /* Adjust the max width as needed */
  margin: 0 auto; /* Center the paragraph */
  padding: 10px; /* Add some padding if needed */
}

.text-section-original {
  flex-grow: 1;
  padding: 10px; /* Padding for inner spacing */
  margin: 10px auto; /* Reset margin if necessary */
  border: 1px solid #ddd; /* Subtle light border */
  border-radius: 4px; /* Rounded corners */
  background-color: #f8f9fa; /* Light beige or cream */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Soft shadow */
  color: #333; /* Dark gray text for readability */
}

.text-section {
  width: 300px;
  padding: 10px; /* Padding for inner spacing */
  margin: 10px auto; /* Reset margin if necessary */
  border: 1px solid #ddd; /* Subtle light border */
  border-radius: 4px; /* Rounded corners */
  background-color: #f8f9fa; /* Light beige or cream */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Soft shadow */
  color: #333; /* Dark gray text for readability */
}


.test {
  display: flex; /* Enable flexbox for its children */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between; /* Distribute items evenly */
  gap: 10px; /* Add space between items */
  padding: 10px; /* Padding for inner spacing */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Slight rounding */
  background-color: #ffffff; /* White */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}



.chart-container-1 {
  flex: 1; /* Allow the graph to take available space */
  
  min-width: 400px;
  max-width: 600px;
  padding: 10px; /* Padding for inner spacing */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Slight rounding */
  background-color: #ffffff; /* White */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.text-section-new {
  flex-shrink: 1; /* Allow the text to take available space */
  max-width: 300px;
}
/***********************************************************************************/
/*    Secton of Dashboard that contains the graphs in a flexbox layout             */
/***********************************************************************************/

.graph-flexbox {
  display: flex; /* Enable flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping if there's not enough space */
  justify-content: center; /* Center items horizontally */
  margin: auto;
  max-width: 1600px;
  border: 5px solid transparent; /* Add a transparent border */
  border-radius: 10px; /* Rounded corners for a smoother look */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background-image: linear-gradient(#e0e0e0, #ffffff); /* Light gradient for the background */
}

.graph-box {
  display: flex; /* Enable flexbox for contents inside */
  width: 700px;
  justify-content: space-between; /* Space between the two containers */
  gap: 5px;
  padding: 5px; /* Keep 5px margin */
  margin: 5px;
  border: 1px solid #dee2e6; /* Light gray border */
  background-color: #ffffff; /* White */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}



.graph-container {
  display: grid; /* Enable grid layout */
  flex-wrap: wrap;
  flex-grow: 1;
  grid-template-columns: 1fr 300px; /* Default to a single column layout */
  gap: 5px; /* Space between the chart and text section */
  padding: 10px; /* Padding for internal spacing */
}

.chart-container {
  flex-grow: 1;
  min-width: 400px;
  max-width: 600px;
  padding: 10px; /* Padding for inner spacing */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Slight rounding */
  background-color: #ffffff; /* White */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.chart3-data-box {
  justify-content: center; /* Center the content within the data box */
  align-items: center; /* Center vertically */
  height: 40px; /* Set height */
  padding: 20px; /* Adjust padding */
  margin-bottom: 20px;
  border-radius: 4px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
  font-size: 14px; /* Font size */
}

/***********************************************************************************/
/*this section is for displaying the section with the dropdown lists and csv data. */
/***********************************************************************************/

.dashboard-container {
  display: flex; /* or block, depending on your layout needs */
  flex-direction: column; /* Stack elements vertically */
  padding: 10px; /* Add padding for spacing */
  margin: auto;
  max-width: 1600px;
}

.dashboard-container ul {
  list-style-position: inside;
  text-align: center;
}

.dashboard-container li {
  margin-bottom: 5px; /* Space between list items */
  line-height: 1.5; /* Increase line height for readability */
}

.dashboard-hub {
  padding: 10px; /* Padding inside the wrapper */
  border: 5px solid transparent; /* Add a transparent border */
  border-radius: 10px; /* Rounded corners for a smoother look */
  background-image: linear-gradient(#e0e0e0, #ffffff); /* Light gradient for the background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.graph-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.donut-chart {
  flex-shrink: 1;
  flex: 0 0 40%; /* Set a fixed basis for the donut chart (60% of the width) */
  max-width: 400px; /* Control the maximum size of the donut chart */
  margin: auto; /* Add some spacing around the chart */
  padding: 20px; /* Add padding if needed */
}

.bar-chart {
  flex-shrink: 1;
  /*flex: 0 0 40%; /* Set a fixed basis for the bar chart (35% of the width) */
  min-width: 400px; /* Control the maximum size of the bar chart */
  max-width: 1000px;
  margin: auto; /* Add some spacing around the chart */
  padding: 20px; /* Add padding if needed */
}

.dashboard-csv {
  border: 5px solid transparent; /* Add a transparent border */
  border-radius: 10px; /* Rounded corners for a smoother look */
  padding: 10px; /* Padding inside the wrapper */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.filtered-data {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set a maximum height for the div */
  padding: 10px; /* Remove inner padding to allow for fixed header */
  padding-top: 0; /* Adjust padding to match the header height */
  margin: 20px 0; /* Add margin for spacing */
  border: 1px solid #ccc; /* Optional border for visibility */
  border-radius: 5px; /* Rounded corners */
}

.dropdowns-original {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping if there's not enough space */
  justify-content: space-between; /* Space out dropdowns evenly */
  margin: auto; /* Optional margin for spacing */
}

.dropdowns-original > div {
  flex: 1; /* Allow dropdowns to grow equally */
  margin-right: auto; /* Space between each dropdown */
  width: 100px;
}

.dropdowns {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if needed */
  justify-content: space-between; /* Distribute items evenly */
  align-items: stretch; /* Make all items the same height */
  margin: auto; /* Center the container */
  gap: 20px; /* Add consistent spacing between items */
}

.dropdowns > div {
  flex: 1 1 200px; /* Equal width with a minimum size */
  text-align: center; /* Center-align text inside each div */
}

/* Optional: Normalize the size of h2 tags */
.dropdowns h2 {
  font-size: 16px; /* Adjust to a consistent size */
  margin-bottom: 10px; /* Add spacing below the title */
}

.csv-data-old {
  width: 100%; /* Make the table full width */
  border-collapse: collapse; /* Collapse borders for cleaner look */
  table-layout: fixed; /* Ensure fixed layout for consistent column widths */
}

.csv-data-old th,
.csv-data-old td {
  border: 1px solid #ddd; /* Cell borders */
  padding: 12px; /* Increased cell padding for better spacing */
  text-align: left; /* Align text to the left */
  min-width: 100px; /* Set a minimum width for columns */
}

.csv-data-old th {
  position: sticky; /* Enable sticky positioning */
  top: 0; /* Stick to the top */
  z-index: 10; /* Ensure it appears above other content */
  background-color: #f2f2f2; /* Header background color */
  font-weight: bold; /* Make header text bold */
}

.csv-data-old tr:hover {
  background-color: #f5f5f5; /* Highlight row on hover */
}


.csv-data {
  width: 100%; /* Make the table full width */
  border-collapse: collapse; /* Collapse borders for cleaner look */
  table-layout: fixed; /* Ensure consistent column widths */
  word-wrap: break-word; /* Ensure text wraps within cells */
}

.csv-data thead tr th {
  white-space: normal; /* Allow wrapping of text */
  word-break: break-word; /* Break long words to fit within the cell */
  text-align: center; /* Optional: Center-align header text for better aesthetics */
  padding: 12px; /* Maintain consistent padding */
  background-color: #f2f2f2; /* Header background color */
  font-weight: bold; /* Bold text for headers */
}

.csv-data th,
.csv-data td {
  border: 1px solid #ddd; /* Cell borders */
  padding: 12px; /* Increased cell padding for better spacing */
  text-align: left; /* Align text to the left */
  min-width: 100px; /* Set a minimum width for columns */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent text wrapping unless specified otherwise */
}

.csv-data th {
  position: sticky; /* Enable sticky positioning */
  top: 0; /* Stick to the top */
  z-index: 10; /* Ensure it appears above other content */
  background-color: #f2f2f2; /* Header background color */
  font-weight: bold; /* Make header text bold */
}

.csv-data tr:hover {
  background-color: #f5f5f5; /* Highlight row on hover */
}

/* Optional: Wrap long text (instead of ellipsis) */
.csv-data-optional th,
.csv-data-optional td {
  white-space: normal; /* Allow wrapping of text */
  word-break: break-word; /* Ensure words break to fit the cell */
}



.pagination {
  display: flex; /* Align pagination items in a row */
  justify-content: center; /* Center the pagination controls */
  margin-top: 20px; /* Space above pagination */
}

.pagination button {
  padding: 10px 15px; /* Button padding */
  margin: 0 5px; /* Space between buttons */
  border: none; /* Remove default border */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border-radius: 5px; /* Rounded edges */
}

.pagination button:hover {
  background-color: #0056b3; /* Darker on hover */
}

@media (max-width: 800px) { /* Adjust this breakpoint as needed */
  .graph-container {
      grid-template-columns: 1fr; /* Switch to a single column layout */
  }
  .text-section,
  .text-section-new {
    width: 95%; /* Make it full width below the graph */
    max-width: 95%; /* Ensure it doesn't exceed the width of its container */
    margin: 5px; /* Reset margin if necessary */
    padding: 10px;
}
  .chart3-data-box {
      margin: 10px 0; /* Add margin to separate it from the title */
      width: 100%; /* Full width in small screens */
      max-width: 300px; /* Remove max-width constraint */
      min-width: 200px;
  }

}

